<h2>Cadastro</h2>

<ul>
    <li><a href="/">Buscar</a></li>
    <li><a href="cad">Cadastrar</a></li>
</ul>

<form action="/add" method="POST">
    <div>
        <input type="text" name="txtNome" id="" placeholder="Nome"
            style="border-radius: 10px; width: 70%; height: 20px; text-align: center; margin-bottom: 11px;">
    </div>
    <div>
        <input type="number" name="numIdade" id="" placeholdetr="Idade"
            style="border-radius: 10px; width: 70%; height: 20px; text-align: center; margin-bottom: 11px;">
    </div>
    <div>
        <input type="submit" value="Cadastrar Postagem" style="border-radius: 10px;" onclick="salvar()">
    </div>
</form>